################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo.DotNetCoreAPI.Versioning/.vs/Demo.DotNetCoreAPI.Versioning
/Demo.DotNetCoreAPI.Versioning/bin/Debug/netcoreapp3.1
/Demo.DotNetCoreAPI.Versioning/obj
